#app {
  max-width: 1920px;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 640px) {
  .range-cal__table {
    flex-direction: column;
  }
}

/* Hide entire first row of month if it contains days from previous/next month */
tbody tr:first-child:has(td:first-child > div[data-day-of-month="26"]),
tbody tr:first-child:has(td:first-child > div[data-day-of-month="27"]),
tbody tr:first-child:has(td:first-child > div[data-day-of-month="28"]),
tbody tr:first-child:has(td:first-child > div[data-day-of-month="29"]),
tbody tr:first-child:has(td:first-child > div[data-day-of-month="30"]),
tbody tr:first-child:has(td:first-child > div[data-day-of-month="31"]),
tbody tr:first-child:has(td:last-child > div[data-day-of-month="1"]),
tbody tr:first-child:has(td:last-child > div[data-day-of-month="2"]),
tbody tr:first-child:has(td:last-child > div[data-day-of-month="3"]),
tbody tr:first-child:has(td:last-child > div[data-day-of-month="4"]),
tbody tr:first-child:has(td:last-child > div[data-day-of-month="5"]),
tbody tr:first-child:has(td:last-child > div[data-day-of-month="6"]) {
  display: none;
}